.autocomplete {
  display: block;
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;

  form {
    width: 100%;
  }

  &-list {
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #006494;

    li {
      cursor: pointer;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 2rem;
      padding: 0.5rem;
    }

    li:hover {
      background-color: rgb(5, 130, 202, 0.4);
    }
  }
}
