.hooper-list {
  width: 1000px;
  border-spacing: 0;

  &-headers {
    border-bottom: 2px solid #003554;
    z-index: 1;
    position: relative;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    color: #003554;
  }

  tbody {
    margin: 0;
    padding: 0;
  }
}
