.stats-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);

  &-box {
    position: fixed;
    background-color: white;
    color: #06283d;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 40px);
    max-width: 600px;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow-y: auto;

    .closeBtn {
      cursor: pointer;
      font-weight: 500;
      border: none;
      font-size: 18px;
      background-color: #fff;
      color: #06283d;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    &-content {
      h2 {
        margin-bottom: 0;
        text-align: center;
      }

      .stats-container {
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 0 auto;
        width: 75%;

        &-item {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;
          max-height: 100%;
          overflow-y: auto;

          &_stat {
            font-size: 1.5rem;
          }

          &_name {
            text-align: center;
          }
        }

        @media screen and (max-width: 500px) {
          width: 90%;
        }

        @media screen and (max-width: 375px) {
          width: 100%;
          font-size: 0.9rem;
        }
      }
    }

    @media screen and (max-width: 500px) {
      padding: 0.75rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .modal-box {
    width: 70%;
    height: 70%;
  }
}
