input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
}

@media screen and (max-width: 768px) {
  input {
    padding: 0.75rem;
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 375px) {
  input {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
