header {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 1rem;
  // background-color: #06283d;
  background-color: #003554;
  color: #fff;
  font-weight: bold;

  h1 {
    margin: auto;
  }

  svg {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }
}
