header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 1rem;
  background-color: #003554;
  color: #fff;
  font-weight: bold;

  h1 {
    width: calc(100% - 1rem);
    position: absolute;
    text-align: center;
  }

  .nav-btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;

    & > * {
      cursor: pointer;
    }

    .stats-btn {
      border: none;
      background-color: rgba(0, 0, 0, 0);
      color: #fff;
    }
  }
}
