.result {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #003554;

  &-box {
    position: fixed;
    background-color: white;
    color: #06283d;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 40px);
    max-width: 600px;
    padding: 2em 5em;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    line-height: 1.15;

    .closeBtn {
      cursor: pointer;
      font-weight: 500;
      border: none;
      font-size: 18px;
      background-color: #fff;
      color: #06283d;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 80%;
      }

      &-info {
        width: 100%;
        border-top: 2px solid #6a040f;
        border-bottom: 2px solid #6a040f;
        padding: 0.5em 0;
        margin: 1em 0;
        text-align: center;
        line-height: 1.25;

        h2 {
          font-size: 2em;
          font-weight: 700;
        }

        h3 {
          font-size: 1.25em;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .result-box {
    width: 70%;
    height: 70%;
  }
}
