footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: auto;
  padding: 1rem;
  background-color: #06283d;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
}
