.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #faf7f0;
  color: #06283d;
}

main {
  height: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-btn {
  cursor: pointer;
  margin: 1rem 0;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
  color: #3e6d9c;
}

.result-btn:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  main {
    padding: 2rem;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 1rem;
  }
}
