.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #faf7f0;
  color: #06283d;
}

main {
  height: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  main {
    padding: 1rem;
  }
}
