.hooper-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid black;

  @media screen and (max-width: 500px) {
    display: grid;
    grid-template-area:
      'name'
      'info';

    .hooper-item-name {
      grid-area: name;
    }
  }

  div {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.88em;
    font-weight: 600;
  }

  & .correct {
    background-color: #228b22;
    color: #fff;
  }

  & .close {
    background-color: #f1c40f;
  }

  &-team-logo {
    img {
      height: auto;
      width: 50px;
    }
  }
}
